<h3>メニュー一覧</h3>
<% if user_signed_in? && current_user.id %>
  <%= link_to "メニュー投稿",new_menu_path %>
<% end %>

<%# 小１玉、中２玉、大３玉と入れる %>
<div class="tabs">
    <div role="tablist" aria-label="Sample Tabs">
      <button role="tab" aria-selected="true" aria-controls="panel-1" id="tab-1" tabindex="0">
            基本メニュー
          </button>
      <button role="tab" aria-selected="false" aria-controls="panel-2" id="tab-2" tabindex="-1">
            期間限定メニュー
          </button>
      <button role="tab" aria-selected="false" aria-controls="panel-3" id="tab-3" tabindex="-1">
            サイドメニュー
          </button>
    </div>
   
  <div id="panel-1" role="tabpanel" tabindex="0" aria-labelledby="tab-1">
    <h1>基本メニュー</h1>
      <div class="basic-card"> 
      <%  @food1.each do |food| %>
       <ul class = "card_lists">
          <li><%= link_to image_tag(food.image, class: :card__img ),menu_path(food.id) %></p>
            <div> 商品名</div>
            <%= food.title%></p>
            <div> 値段</div>
            <%= food.money%></p>
            <div> 商品紹介</div>
            <%= food.concept%></p>
          </li>
       </ul>
      <% end %>
    </div>
    <%= paginate @food1 %>
  </div> 

  
  <div id="panel-2" role="tabpanel" tabindex="0" aria-labelledby="tab-2" hidden>
    <h1>期間限定メニュー</h1>
     <div class="basic-card"> 
       <%  @food2.each do |food| %>
        <ul class = "card_lists">
            <li><%= link_to image_tag(food.image, class: :card__img ),menu_path(food.id) %></p>
              <div> 商品名</div>
              <%= food.title%></p>
              <div> 値段</div>
              <%= food.money%></p>
              <div> 商品紹介</div>
              <%= food.concept%></p>
            </li>
        </ul>
       <% end %>
     </div>
    <%= paginate @food2 %>
  </div>

  <div id="panel-3" role="tabpanel" tabindex="0" aria-labelledby="tab-3" hidden>
    <h1>サイドメニュー</h1>
    <div class="basic-card"> 
      <%  @food3.each do |food| %>
      <ul class = "card_lists">
          <li><%= link_to image_tag(food.image, class: :card__img ),menu_path(food.id) %></p>
            <div> 商品名</div>
            <%= food.title%></p>
            <div> 値段</div>
            <%= food.money%></p>
            <div> 商品紹介</div>
            <%= food.concept%></p>
          </li>
      </ul>
      <% end %>
   </div>
   <% if @food3.blank? %>  
   <%# if prams[:page] != 1  %>
     <%= link_to "戻る", menus_path %>
   <% else%>  
    <%= paginate @food3 %>
    <% end %>
  </div>
</div>