<div class="menu-title">
    <h3>メニュー一覧
    <p>
    サイズ 小=１玉 中=２玉、大=３玉
     </p>
     </h3>
</div>
<div class="posting">
    <% if user_signed_in? && current_user.id %>
      <%= link_to "メニュー投稿",new_menu_path %>
    <% end %>
</div>
 
<div class="menus">
    <%= link_to "基本メニュー", menus_path,class:"menu" %>  
    <%= link_to "期間限定メニュー", index2_path,class:"menu" %>  
    <%= link_to "サイドメニュー", index3_path,class:"menu" %>  
</div>
 
 
 
 
   <div class="menu-title">
    <h1>サイドメニュー</h1>
   </div>
    <div class="basic-card"> 
      <%  @food3.each do |food| %>
      <ul class = "card_lists">
          <li><%= link_to image_tag(food.image, class: :card__img ),menu_path(food.id) %></p>
            <div> 商品名</div>
            <%= food.title%></p>
            <div> 値段</div>
            <%= food.money%></p>
            <div> 商品紹介</div>
            <%= food.concept%></p>
          </li>
      </ul>
      <% end %>
   </div>
    <%= paginate @food3 %>
  </div>
</div>